                            * {
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                                font-family: 'poppins', sans-serif;
                            }
                            
                            .campoheader {
                                width: 100%;
                                height: 100vh;
                                background-image: url(/images/e9b4b107f662e031a1e3570adafa7d67.png);
                                background-position: center;
                                background-size: cover;
                                color: #fff;
                                padding: 0 7%;
                                position: relative;
                            }
                            
                            nav {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 10px 0 10px;
                            }
                            
                            nav ul li {
                                display: inline-block;
                                list-style: none;
                                margin: 30px 10px;
                            }
                            
                            .logo {
                                width: 80px;
                                cursor: pointer;
                            }
                            
                            nav ul li a {
                                text-decoration: none;
                                color: #fff;
                                font-size: 20px;
                                letter-spacing: 1px;
                            }
                            
                            nav ul li a:hover {
                                color: orange;
                            }
                            
                            .text {
                                margin-top: 25%;
                                font-size: 22px;
                            }
                            
                            .text h2 {
                                font-size: 50px;
                                font-weight: 600;
                                line-height: 100px;
                            }